@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

@foreach (var item in list)
{
    <p>@item</p>
}

<button class="btn btn-primary" @onclick="IncrementCount">Get User</button>

@code {
    private List<string> list = new();
    private int index = 1;

    private void IncrementCount()
    {
        var test = $"Hello {index}";

        list.Add(test);
        index++;
    }
}
